#darkblue{
	 float: left;
    margin-right: -26px;
    margin-bottom: -50px;
	
}
#darkblue .left1 {
    float: left;
    width: 0;
    border-right: 30px solid #4f8484;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
	
}

#darkblue .middle1 {
	  float: left;
    width: 60px;
    height: 104px;
    background: #4f8484;

	
}

#darkblue .right1 {
	    float: left;
    width: 0;
    border-left: 30px solid #4f8484;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;

	
}
.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #55a9b5;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #55a9b5;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #55a9b5;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear:left;
}
.hex.even {
    margin-top: 53px;
}

