.body {
    font-family: "Lucida Sans regular", sans-serif;
    background-color: blue;
}


.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a {
    text-decoration: none;
}


#logo {
    position: relative;
    padding-top: 180px;
    right: 0%;
    left: 65%;
    top: 0%;
    width: 30%;
    padding: 2%;
}

h1 {
    font-family: "Lucida Sans demiboldt", sans-serif;
    color: #007791;
    text-align: center;
}


h2 {
    font-family: "Lucinda Sans demibold", sans-serif;
    color: #007791;
    text-align: center;

}

p {
    font-family: "Lucida Sans demiboldt", sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;

}

ul {
    list-style-type: none;
}

.boeger {
  display: grid;
  grid-template-columns: text text;
  grid-gap: 10px;
  padding: 10px;
}
.boeger > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.bogen1 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.bogen2 {
  grid-row-start: 2;
  grid-row-end: 2;
}



.boeger {
    display: inline-block;
    width: 770px;
    border: 1px dotted black;
}

.bogen1, .bogen2 {
    width: 33%L;
    position: relative;
    float: left;
}
        

/*---------------FORSIDE*/

.container {
	display: flex;
	justify-content: space-around;
	margin-left: 55%;
	margin-top:180px;
	
}


#logo {

	position: absolute;
	right: 0%;
	top: 0%;
	width: 30%;
	padding: 2%;


}

.forside {
	position: absolute;
	float: left;
	padding-top: 45px;
	padding-left: 32px;
	color: white;
}


.kontakt {
	position: absolute;
	float: left;
	padding-top: 35px;
	padding-left: 20px;
	color: white;
}


.opgave {
	position: absolute;
	float: left;
	padding-top: 35px;
	padding-left: 20px;
	color: white;
}


.log-ud {
	position: absolute;
	float: left;
	padding-top: 43px;
	padding-left: 25px;
	font-size: 20px;
}

.profil {
	position: absolute;
	float: left;
	padding-top: 45px;
	padding-left: 6px;
	font-size: 15px;
	color: white;
}


.bib {
	position: absolute;
	float: left;
	padding-top: 45px;
	padding-left: 13px;
	color: white;
}


.aabningstider {
	position: absolute;
	float: left;
	padding-top: 42px;
	padding-left:10px;
	color: white;
}


.box1 {
	position: absolute;
	padding-top: 110px;
	padding-left: 96px;

}


.box2 {
	position: absolute;
	padding-top: ;
	padding-left: 96px;
}


.box3 {
	position: absolute;
	padding-top: 279px;
	padding-left: 0px;
}


.box4 {
	position: absolute;
	padding-top: 55px;
	padding-left: 0px;

}

.box5 {
	position: absolute;
	padding-top: 222px;
	padding-left: 97px;

}


.box6 {
	position: absolute;
	padding-top: 167px;
	padding-left: 0px;

}



.box7 {
	position: absolute;
	padding-top: 333px;
	padding-left: 97px;

}



.top1 {
	float: left;
	border-right: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle1 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #55a9b5;
}



.bottom1 {
	float: left;
	border-left: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.top2 {
	float: left;
	border-right: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle2 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #55a9b5;

}



.bottom2 {
	float: left;
	border-left: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.top3 {
	float: left;
	border-right: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle3 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #55a9b5;

}



.bottom3 {
	float: left;
	border-left: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.top4 {
	float: left;
	border-right: 30px solid #4f8484;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle4 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #4f8484;

}



.bottom4 {
	float: left;
	border-left: 30px solid #4f8484;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.top5 {
	float: left;
	border-right: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle5 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #55a9b5;

}



.bottom5 {
	float: left;
	border-left: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}



.top6 {
	float: left;
	border-right: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle6 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #55a9b5;

}



.bottom6 {
	float: left;
	border-left: 30px solid #55a9b5;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.top7 {
	float: left;
	border-right: 30px solid #f0b339;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}


.middle7 {
	float: left;
	width: 60px;
	height: 104px;
	background-color: #f0b339;

}



.bottom7 {
	float: left;
	border-left: 30px solid #f0b339;
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
}

.vl {
	border-left: 3px solid #333333;
	height: 435px;
	margin-left: 75%;
	
}




/*---------------SLUT FORSIDE*/



/*.line{
    border-left: 2px solid grey;
    height: 500px;  
    margin-left: 75%;
    padding-top: 400px;
} */


#bruger {
    padding-top: 400px;
    width: 250px;
    border: 5px solid #007791;
    padding: 25px;
    margin: 25px;
    margin-top: 50px;
    position: absolute;
}

#patrick {
    width: 100%;
}

#reservation {
    font-style: italic;
    color: lightgray;
    font-size: 20px;
}

.menu {
    
}

.box12 {
    padding: 6px;
    position: absolute;
    padding-top: 700px;
    padding-left: 25px;
}

.box13 {
    padding: 6px;
    position: absolute;
    padding-top: 550px;
    padding-left: 25px;
}

.box14 {
    padding: 6px;
    position: absolute;
    padding-top: 625px;
    padding-left: 155px;
    width: 25%;

}

#afleverer {
    display: flex;
    position: absolute;
    z-index: 1;
    padding-top: 588px;
    margin-left: 47px;
    font-size: 14px;
    color: whitesmoke;
   
}

#henter {
    display: flex;
    position: absolute;
    z-index: 1;
    padding-top: 650px;
    margin-left: 184px;
    font-size: 14px;
    color: whitesmoke;
   
}

#reseverer {
    display: flex;
    position: absolute;
    z-index: 1;
    padding-top: 735px;
    margin-left: 47px;
    font-size: 14px;
    color: whitesmoke;

}



#bog1 {
    display: block;
    z-index: -1;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 35px;
    width: 15%;

}

#bog2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}


#bog3 {
    display: block;
    z-index: -1;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 35px;
    width: 15%;
}


.top {
    float: left;
    border-right: 40px solid #55a9b5;
    border-top: 69.3px solid transparent;
    border-bottom: 69.3px solid transparent;
}

.middle {
    float: left;
    width: 80px;
    height: 138.7px;
    background-color: #55a9b5;
}

.bottom {
    float: left;
    border-left: 40px solid #55a9b5;
    border-top: 69.3px solid transparent;
    border-bottom: 69.3px solid transparent;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.knapper {
    display: flex;
    justify-content: center;
    padding: 50px;

}

#knap1 {
    background-color: #f0b339;
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#knap2 {
    background-color: #f0b339;
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#knap3 {
    background-color: #f0b339;
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 634px;
}


a:hover {
    color: black;
}

#footer {
    width: 100%;
    background-color: #4f8484;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
