body {
    font-family: "Lucida Sans regular", sans-serif;
}

h1 {
    font-family: "Lucida Sans demiboldt", sans-serif;
    font-size: 23px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p {
    font-family: "lucida sans regular", sans-serif;
    padding: auto;
    margin-top: 0px;
}

#logo {
    position: absolute;
    right: 0%;
    width: 20%;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left:10px;
    margin-top: 0px;
}

#bibliotek {
    position: absolute;
    right: 0;
    left: 0;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 25px;
    margin: auto;
}
